<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <dubbo:application name="provider"/>
    <!-- 注册中心的ip地址 -->
    <!--<dubbo:registry address="zookeeper://192.168.20.37:2181"/>-->
    <dubbo:registry protocol="zookeeper" address="192.168.20.37:2181"/>

    <dubbo:protocol name="dubbo" port="20882"/>
    <!-- 扫描注解包路径，多个包用逗号分隔，不填pacakge表示扫描当前ApplicationContext中所有的类 -->
    <!--<dubbo:annotation package="com.boot.service.impl"/>-->
    <dubbo:service interface="com.boot.service.TestService" ref="testService"/>
    <bean id="testService" class="com.boot.service.impl.TestServiceImpl"/>
</beans>